*,
*:after,
*:before {
    box-sizing: border-box;
}

*::selection {
    background: #99c2ff;
}

*::-moz-selection {
    background: #99c2ff;
}

html,
body {
    background: #fcfcfc;
    font: 16px/1.21 'Fakt', sans-serif, Helvetica, Arial;
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
}

h1,
h2,
h3 {
    font-weight: 400;
}

h1 {
    font-size: 2em;
    margin: 24px 0;
    line-height: 38px;
}

.sidebar .header {
    height: 60px;
    padding: 16px 24px;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 1;
}

.sidebar h2 {
    display: inline-block;
    font-size: 1.25em;
    margin: 5px 0 0;
}

.sidebar .copy-sample-code {
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 0.65em;
    margin-top: -3px;
    text-transform: uppercase;
    padding: 8px 0;
    transition: 0.5s all;
    width: 60px;
}

.sidebar .copy-sample-code:hover {
    background: #183057;
}

.sidebar .copy-sample-code.copy-sample-code--active {
    border-color: #06f;
    background: #06f;
    transition: none;
}

.sidebar .copy-sample-code.copy-sample-code--active:before {
    content: 'Copied!';
}

.sidebar .copy-sample-code:before {
    content: 'Copy';
}

.pay-button {
    background: #001b2b;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 4px rgba(0, 15, 45, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    height: 48px;
    margin-top: 20px;
    padding: 15px;
    transition: background 0.3s ease-out;
    width: 300px;
}

.pay-button[disabled] {
    cursor: not-allowed;
    opacity: 0.15;
}

.payment_methods__list {
    list-style: none;
    margin: 0;
    padding: 14px 0 14px;
}

@media (min-width: 780px) {
    .payment_methods__list {
        padding-left: 14px;
    }
}

.payment_methods__list__element {
    margin: 14px 0;
}

a:link,
a:visited {
    color: #06f;
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

.container {
    margin: 0 15px;
    max-width: 960px;
    height: 100vh;
}

@media (min-width: 780px) {
    .container {
        margin: auto;
    }
}

.container--full-width {
    margin: 0;
    max-width: 100vw;
}

@media (min-width: 780px) {
    .container--full-width {
        display: flex;
    }
}

.main {
    display: block;
    overflow-y: auto;
    padding: 18px 15px 48px;
    position: relative;
}

@media (min-width: 780px) {
    .main {
        padding: 18px 60px;
        width: 60%;
    }
}

.sidebar {
    background: #00112c;
    color: #fff;
    overflow: hidden;
    overflow-y: auto;
}

@media (min-width: 780px) {
    .sidebar {
        width: 40%;
    }
}

.info {
    background: #f3f6f9;
    border-left: 7px solid #06f;
    margin: 28px 0 0;
    padding: 7px 14px;
}

@media (min-width: 780px) {
    .info {
        padding: 7px 21px;
    }
}

pre {
    font-size: 0.95em;
    margin: 24px;
    overflow: auto;
    position: relative;
}

.request-container .request-code,
.response-container .response-code {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.request-container--visible .request-code,
.response-container--visible .response-code {
    opacity: 1;
}

.request-container p,
.response-container p {
    padding: 16px 24px;
    font-size: 0.9em;
    opacity: 0.7;
}

.request-container--visible p,
.response-container--visible p {
    display: none;
}

.payment-method {
    border-radius: 3px;
    display: block;
    margin: 0 -15px;
    padding: 3em;
    background: #f7f8f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 780px) {
    .payment-method {
        margin: 0 auto;
    }
}

#bancontact-container,
#wechatpay-container {
    min-width: 70%;
    max-width: 350px;
}

.payment-method__container {
    width: 350px;
}

#dropin-container {
    width: 544px;
}

#boletobancario-container,
#boletobancario-result-container {
    width: 550px;
}

#result-container {
    background: #f7f8f9;
    border: 2px solid #e6e9eb;
    border-radius: 12px;
    padding: 0px 10px;
}

#result-code {
    font-size: 1.2rem;
}
